.App {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  min-height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  background: #f5f5f5;
  padding: 0 50px;
}

.title {
  font-size: 3rem;
  color: #212529;
}

.cars-container a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 16px;
}

input {
  text-align: center;
  height: 38px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.homepage input {
  width: 100%;
}

.homepage button {
  background: #2196f3;
  color: #fff;
  border: 0;
  outline: none;
  border-radius: 4px;
  padding: 6px 16px;
}

.homepage,
.cars-box,
.cars-container {
  min-width: 900px;
}

.cars-box {
  display: flex;
  border: 1px solid #eee;
  background: #fff;
}

.cars-box {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.cars-box:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.car-photo {
  flex-grow: 1;
  position: relative;
}

.car-photo img {
  width: 250px;
}

.car-photo .unavailable-img {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 80px;
  transform: rotate(-30deg);
}

.car-specifications {
  flex-grow: 4;
}

.car-price {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.car-price h4 {
  color: #ff1744;
  font-size: 30px;
}

.car-specifications p {
  background: #052c39;
  color: #fff;
  padding: 2px 5px;
  width: fit-content;
  font-size: 12px;
  transform: skew(-15deg);
}

.car-specifications img {
  width: 16px;
  margin-right: 5px;
}

.car-filters {
  position: relative;
}

.search-box {
  width: 75%;
}

.car-sort img {
  border: 1px solid #ced4da;
  padding: 5px;
  width: 36px;
  margin-left: 5px;
  cursor: pointer;
}

.cars-box button {
  color: #fff;
  border: 0;
  outline: none;
  background: seagreen;
  font-size: 24px;
}

.highlight-el {
  background: lightskyblue;
}

@media (max-width: 899px) and (min-width: 650px) {

  .homepage,
  .cars-box,
  .cars-container {
    min-width: 600px;
  }

  .title {
    font-size: 2.5rem;
  }

  .search-box {
    width: 60%;
  }
}

@media (max-width: 649px) and (min-width: 421px) {

  .homepage,
  .cars-box,
  .cars-container {
    min-width: 400px;
  }

  .cars-box button {
    font-size: 18px;
  }

  .car-price h4 {
    font-size: 24px;
  }

  .car-specifications h4 {
    font-size: 1rem;
  }

  .car-photo img {
    width: 175px;
  }

  .title {
    font-size: 2rem;
  }
}



.cars-box button:disabled,
.cars-box button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

/* pagination css */
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}

.pagination>li>a,
.pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #337ab7;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}